/*estilos globales*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navegacion-usuario{
    font-size: 20px ;
    display: flex;
    justify-content: end;
    gap: 20px;
    padding: 10px;
    
}
.navegacion-usuario a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    
}
.navegacion-usuario a:hover{
    text-decoration: underline;
}
.encabezado-inferior{
    margin: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.encabezado-inferior .logo{
    width: 100px;
    padding: 15px;
    gap: 15px;
}

.navegacion-pagina{
    display: flex;
    gap: 20px;
}
.navegacion-pagina a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;

}
.navegacion-pagina a:hover{
    color: #ccc
}
#importante{
    color: red;
    
}

.buscar{
    display: flex;
    gap: 10px;
    margin: 20px;

}
.formu{
    margin: auto;
}
.baner{
    width: 1250px;
    padding: 50px;
}

.casillas{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    gap: 30px;

    
}
.titulos{
    color: #aaa;
    text-transform: uppercase;
    font-size: 22px;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.subtitulo{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.productos{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.nombres{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-bottom: 10px;
}
.precios{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

